name: CI

env:
  PYTHONUNBUFFERED: 1

on:
  push:
    branches: [ master ]
    tags: [ "v*" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**/README.md'

jobs:
  ci:
    #runs-on: ${{ matrix.os }}
    runs-on: macos-15
    #python-version: ['3.13']
    #architecture: [arm64]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
          #architecture: ${{ matrix.architecture }}

      - name: Install Dependencies
        run: |
          pip install wheel
          pip install -r data/requirements.txt
          brew install airspy hackrf librtlsdr libbladerf limesuite portaudio uhd
            
          wget -nv https://github.com/analogdevicesinc/libiio/releases/download/v0.26/libiio-0.26.ga0eca0d-macOS-13-arm64.pkg
          sudo installer -pkg libiio-0.26.ga0eca0d-macOS-13-arm64.pkg -target /
          sudo mkdir -p /usr/local/lib
          sudo cp /Library/Frameworks/iio.framework/iio /usr/local/lib/libiio.dylib
          sudo install_name_tool -id "/usr/local/lib/libiio.dylib" /usr/local/lib/libiio.dylib
          file /usr/local/lib/libiio.dylib
          otool -L /usr/local/lib/libiio.dylib
          sudo cp /Library/Frameworks/iio.framework/Versions/0.26/Headers/iio.h /usr/local/include
            
          wget -nv https://www.sdrplay.com/software/SDRplayAPI-macos-installer-universal-3.15.1.pkg
          sudo installer -pkg SDRplayAPI-macos-installer-universal-3.15.1.pkg -target /  
          
          pip install pyaudio
          pip install pillow

          pip install twine setuptools pytest pytest-xvfb pytest-cov appdirs packaging pyinstaller
          python -c "import tempfile, os; open(os.path.join(tempfile.gettempdir(), 'urh_releasing'), 'w').close()"
        shell: bash
        env:
          OS: ${{ matrix.os }}

      - name: Build Cython Extensions
        run: python src/urh/cythonext/build.py

      - run: python setup.py bdist_wheel
        if: ${{ !startsWith(matrix.os, 'ubuntu') }}

      - name: Build DMG
        if: startsWith(matrix.os, 'macos')
        run: |
          cp data/pyinstaller_macos.spec urh.spec
          pyinstaller --clean --distpath ./pyinstaller --workpath ./urh_build urh.spec
          mkdir -p dist
          cat pyinstaller/main.app/Contents/Info.plist
          hdiutil create -volname Universal.Radio.Hacker \
                         -srcfolder pyinstaller/main.app \
                         -ov -format UDZO \
                         dist/Universal.Radio.Hacker-"$(python src/urh/version.py)".dmg

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ vars.os }}-${{ vars.python-version }}
          path: dist

      - name: Run pytest without coverage
        #if: ${{ !startsWith(matrix.os, 'ubuntu') || matrix.python-version != '3.12' }}
        run: pytest -s -v --junitxml=junit/test-results.xml tests

      - uses: ncipollo/release-action@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          artifacts: "dist/*.dmg"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          generateReleaseNotes: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
